.toolbar-icon-smartcat-translation-manager-dashboard::before
{
    background: url('../images/smartcat.svg');
}
.smartcat_list_item{
    margin: 0 0 0.75em 0 !important;
}

.smartcat-disabled{
    opacity: 0.6 !important;
}